* { margin:0; padding:0; box-sizing:border-box; }
body {
  color:#333;
  font-family: 'Antic Slab', serif;
  font-size:;
  line-height:1.3;
}

#logo{
  font-size: 40px;
  text-align: left;
  Padding: 2% 9% 0 6%;
}

#slogan {
  font-family: 'Mr De Haviland', cursive;
  font-size: 45px;
  padding: 0 2% 5%;
}

 header img {
  text-align: right;
  display: inline;
  position: relative;
  border: 5px solid pink;
  border-radius: 60px;
}

nav{
  background-color: pink;
  padding: 1%;
}

nav a {
  color: black;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  margin: 115px;
}

#hero {
  background:url(../images/beach_house.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  height: 90vh;
  position: relative;
  width: 100%;

}

li  {
    display: flex;
    list-style: none;
    color: black;
    font-family: 'Antic Slab', serif;
    font-size: 20px;
}

#image {
  margin-bottom: 2%;
}

h1 {
  width: 33em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.75);
  padding: 1em;
  font-family: 'Antic Slab', serif;
  font-size: 26px;
  text-align: center;
}
h1 span {
  color: pink;
  font-weight: bold;
}

h2 {
  font-family: 'Mr De Haviland', cursive;
  font-size: 40px;
  text-align: center;
}

#banner{
  baclground-color: white;
}

.item {
  display: inline;
  margin:1.5%;
  width: 20%;
  float:left;
  background-color: ;
}

footer {
  text-align: center;
  font-family: 'Antic Slab', serif;
  background-color: black;
  color: white;
}
