@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Parisienne');

* {margin:0; padding:0; box-sizing:border-box;}

#wrapper {
  max-width: 1200px;
  margin: auto;
}

body {
  color:#333;
  font-family: 'Antic Slab', serif;
  line-height:1.5;
}

#logo{
  font-size: 2.5em;
  text-align: left;
  width: auto;
}

#slogan {
  font-family: 'Parisienne', cursive;
  font-size: 2em;
  width: auto;
}

 #cart {
  border: 3px solid #538094;
  border-radius: 50%;
  width: 45px;
  transform: translateY(50%);
}

div a{
  color: black;
  font-size: 2.5em;
  text-decoration: none;
}

header div {
  float: left;
  margin: 1% 0 0;
}

aside {
  float: right;
  margin: 2% 0 0;
  width: max-content;
  text-align: center;
}

#mySearch {
  width:auto;
  margin-top: 1em;
}

nav {
  margin: 1em 0;
  padding-bottom: 0;
  text-align: center;
}

nav a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  letter-spacing: 3px;
  margin: 0 1em;
  padding: 1em;
  display: inline-block;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
}

h1{
  letter-spacing: 3px;
  text-align: center;
  margin: 2em;
}

h2 {
  color: black;
  font-family: 'Antic Slab', serif;
  font-size: .5em;
  text-align: center;
  letter-spacing: 3px;
}

#banner {
 max-width: 1200px;
 margin: 0 5em;
}

#banner img{
  width: 100%;
}

.top, .middle, .bottom{
  width: 32%;
  float: left;
  padding: 1em;
}



 footer {
   text-align: center;
   font-family: 'Antic Slab', serif;
   background-color: black;
   color: black;
   margin-top: 10em;
 }

 footer p{
   padding-top: 3%;
   font-size: 1em;
   color: white;
 }

 footer a {
   color: #538094;
 }

 #facebook img {
   width: 50px;
   margin: 3% 1%;
 }

 #insta img {
   width: 50px;
   background-color: white;
   margin: 3% 1%;
   border-radius: 20%;
 }

 /*Media Queries*/

@media only screen and (max-width: 768px){
#wrapper{
 max-width: 750px;
 margin: auto;
}


@media only screen and (max-width: 375px){
  #wrapper{
    max-width: 365px;
    margin: auto;
  }
  #logo{
    text-align: center;
  }
  header div, aside{
    float: none;
    width: 100%;
    text-align: center;
  }
  nav{
  margin-top: 12%;
  }
  nav a{
    color: white;
    background: black;
    display: block;
    border: 3px solid white;
    margin: 1% 0;
  }
  .top{
    width: 100%;
  }
  .middle, .bottom{
    visibility: hidden;
  }
  footer {
    margin-top: 0;
  }
}
